<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>RU Automatizado - Funcionários</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<ul class="nav nav-pills nav-fill navbar-dark">
			<li class="nav-item"><a class="nav-link" href="/gerenciar">Início</a></li>
			<li class="nav-item"><a class="nav-link active"
				href="/funcionario/lista">Funcionários</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Estudantes</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/login">Sair</a>
			</li>
		</ul>
	</nav>
	<br>
	<div class="container">
		<div class="card text-center border-secondary mb-3">
			<div class="card">
				<h5 class="card-header">Funcionários</h5>
				<a class="btn btn-link aw-link-card" href="/funcionario/cadastro">Cadastrar
					Funcionário</a>
				<div class="card-body"></div>
			</div>
		</div>
	</div>
</body>
</html>