<!DOCTYPE html>
<html
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>RU Automatizado - Início</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item"><a class="nav-link active"
				href="/gerenciar">Início</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/funcionario">Funcionários</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Estudantes</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/login">Sair</a>
			</li>
		</ul>
	</nav>
</body>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>		

</html>